# Clean Data

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('C:\\Users\\biboy\\Desktop\\PJDSC\\dataset\\CREDIT CARD TXNS_PJDSC.xlsx')

In [6]:
df.to_csv('CREDIT CARD TXNS_PJDSC')

In [7]:
df.head()

,CUST_NUM,MERCH_GROUP,DATE,AMOUNT,CHANNEL,MERCH_NAME,COUNTRY
0,3016.966026,Retail Outlet Services,2023-04-01,3211.528727,POS-RETAIL PURCHASE,MERCHANT 1,PH
1,3016.966026,Clothing Stores,2023-04-01,3982.218215,POS-RETAIL PURCHASE,MERCHANT 2,PH
2,3016.966026,Miscellaneous Stores,2023-04-18,872.539734,POS-RETAIL PURCHASE,MERCHANT 3,PH
3,3016.966026,Miscellaneous Stores,2023-04-27,390.082187,POS-RETAIL PURCHASE,MERCHANT 4,PH
4,3016.966026,Retail Outlet Services,2023-04-29,4956.055464,ONLINE-RETAIL PURCHASE,MERCHANT 5,PH

In [18]:
df.tail()

,CUST_NUM,MERCH_GROUP,DATE,AMOUNT,CHANNEL,MERCH_NAME,COUNTRY
33121,11155.492100,NaN,2023-06-30,799.443307,ONLINE-RETAIL PURCHASE,MERCHANT 12,COUNTRY 9
33122,6159.706324,Miscellaneous Stores,2023-06-30,436.104978,ONLINE-RETAIL PURCHASE,MERCHANT 459,PH
33123,6159.706324,Miscellaneous Stores,2023-06-30,439.966370,ONLINE-RETAIL PURCHASE,MERCHANT 459,PH
33124,1154.341371,Miscellaneous Stores,2023-06-30,10069.359649,POS-RETAIL PURCHASE,MERCHANT 154,PH
33125,8025.697602,Retail Outlet Services,2023-06-30,2015.328394,POS-RETAIL PURCHASE,MERCHANT 68,PH

Findings: A missing value is apparent in the MERCH_GROUP column.

In [10]:
df.shape

(33126, 7)

Findings: There are 33,126 rows and 7 columns in total for the Credit Card Transactions

In [12]:
df.isna().head()

   CUST_NUM  MERCH_GROUP   DATE  AMOUNT  CHANNEL  MERCH_NAME  COUNTRY
0     False        False  False   False    False       False    False
1     False        False  False   False    False       False    False
2     False        False  False   False    False       False    False
3     False        False  False   False    False       False    False
4     False        False  False   False    False       False    False

In [13]:
df.isna().sum()

CUST_NUM          0
MERCH_GROUP    1568
DATE              0
AMOUNT            0
CHANNEL           0
MERCH_NAME        0
COUNTRY        1249
dtype: int64

Findings: 
-The CUST_NUM, DATE, AMOUNT, CHANNEL, and MERCH_NAME columns have no missing values.
-The MERCH_GROUP column has 1,568 missing values.
-The COUNTRY column has 1,249 missing values.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33126 entries, 0 to 33125
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUST_NUM     33126 non-null  float64
 1   MERCH_GROUP  31558 non-null  object
 2   DATE         33126 non-null  datetime64[ns]
 3   AMOUNT       33126 non-null  float64
 4   CHANNEL      33126 non-null  object
 5   MERCH_NAME   33126 non-null  object
 6   COUNTRY      31877 non-null  object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.8+ MB

The dataset seems to be transactional, with details about customer transactions, including the amount, date, merchant, and country.

There are missing values in the MERCH_GROUP and COUNTRY columns that we need to address. 

The CUST_NUM being a float might need investigation. If it's supposed to be an identifier, one might consider converting it to an integer or string.

The presence of a DATE column indicates potential for time series analysis or feature extraction related to time (e.g., day of the week, month).

The categorical columns (MERCH_GROUP, CHANNEL, MERCH_NAME, COUNTRY) might need encoding if used for machine learning models.